body{
    padding: 0;
    margin: 0;
}
#header{
    /* background-image: url(bg.jpg); */
    background: linear-gradient(rgba(0, 0, 0, 0.168), rgba(0, 0, 0, 0.3)), 
              url(bg.jpg) center/cover no-repeat;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.container{
    margin-left: 50px;
}
nav img{
    padding-top: 20px;
    width: 20%;
}
nav ul{
    position:fixed;

}
nav ul li{
    display: inline-block;
    margin: 10px 55px;
    list-style: none; 
}
nav ul li a{
    color: rgb(71, 71, 71);
    text-decoration: none;
    position: relative;
    font-size: 2em;
    font-weight: bold;
}
nav ul li a::after{
   content:' ';
   width: 0%;
   height: 3px;
   background-color:rgb(26, 26, 26);
   position: absolute;
   left: 0;
   bottom: -10px;
   transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;    
}
nav ul li a:hover{
    color: rgb(47, 47, 47);
}
#header #logo{
    width: 200px;
    /* position: relative;
    top: 50px;
    left: 100px; */
    margin-left: 100px;
    margin-top: 50px;
    cursor: pointer;
}
#header h1{
    font-size: 6.7em;
    padding-inline: 100px;
    margin: 90px 30px;
    color: #151818;
    text-shadow: 4px 4px 3px #7a7a7a;
}
#header p{
    font-size: 25px;
    margin-left: 130px;
    margin-top: -20px;
    color: rgb(236, 236, 236);
    font-family:'Gill Sans', sans-serif;
    text-shadow: 0 5px 5px #000000;
    line-height: 45px;
}
#header button{
    font-size: 2em;
    font-weight: bold;
    padding: 20px 200px;
    margin-left: 130px;
    margin-top: 30px;
    border-radius: 30px;
    border: none;
    background-color: #131313e7;
    color: rgb(254, 246, 255);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.5s;
}
#header button:hover{
    color: rgb(222, 222, 222);
    background-color: #323232e7;
    transform: translateY(-10px);
}
/* -----------------------------------services---------------------------------- */
#Services{
    width: 100%;
    padding-top: 100px;
}
.cards{
    height: 500px;
    width: 300px;
    display: flex;
}
